@import '../../../styles/responsive';
.airline-logo{
  max-width: 100px;
  width: 100%;
  height: 60px;
}
.fleet-content-wrapper{
  max-height: calc(100vh - 254px);
  overflow: auto;
  // margin-bottom: 16px;
  border-radius: 8px;
}
table tbody {
  overflow-y: auto;
  // max-height: 500px;
  display: block;
}
table thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  @include sm{
    table-layout: auto;
  }
}
.id-actions{
  width: 12% !important;
  @include xl{
    width: 16% !important;
  }
  @include md{
    width: 19% !important;
  }
}
.delete-item,
.edit-item{
  height: 24px;
  width: 24px;
  @include sm{
      height: 18px;
      width: 18px;
  }
  @include md{
      height: 20px;
      width: 20px;
  }
}
