//avtar css
.avatar {
    position: relative;
    display: inline-block;
}

.avatar-xl {
    height: 2rem;
    width: 2rem;
}

.avatar .avatar-name {
    background-color: var(--bs-heading-color);
    position: absolute;
    text-align: center;
    color: $sidenav-color;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.avatar .avatar-name {
    width: 100%;
    height: 100%;
}

.avatar .avatar-name > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.avatar-xl .avatar-name {
    font-size: 0.6666666667rem;
}