<div>
  <div>
      <h2 class="d-inline-block mb-4" id="heading1">Organization & Locations</h2>
  </div>
  <div class="fleet-content-wrapper overflow-auto">
      <div class="fleet-wrapper">
          <div class="py-3 px-3 px-sm-4 border-bottom">
              <h3 class="mb-0 fs-5">Organization</h3>
          </div>
          <div class="py-3 px-3">
              <div class="row p-0">
                  <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                      <div class="d-flex align-items-start gap-3">
                          <div
                              class="location-icon rounded-circle d-flex align-items-center justify-content-center flex-shrink-0">
                              <span class="d-flex align-items-center justify-content-center">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                      fill="currentColor">
                                      <path
                                          d="M12 20.8995L16.9497 15.9497C19.6834 13.2161 19.6834 8.78392 16.9497 6.05025C14.2161 3.31658 9.78392 3.31658 7.05025 6.05025C4.31658 8.78392 4.31658 13.2161 7.05025 15.9497L12 20.8995ZM12 23.7279L5.63604 17.364C2.12132 13.8492 2.12132 8.15076 5.63604 4.63604C9.15076 1.12132 14.8492 1.12132 18.364 4.63604C21.8787 8.15076 21.8787 13.8492 18.364 17.364L12 23.7279ZM12 13C13.1046 13 14 12.1046 14 11C14 9.89543 13.1046 9 12 9C10.8954 9 10 9.89543 10 11C10 12.1046 10.8954 13 12 13ZM12 15C9.79086 15 8 13.2091 8 11C8 8.79086 9.79086 7 12 7C14.2091 7 16 8.79086 16 11C16 13.2091 14.2091 15 12 15Z">
                                      </path>
                                  </svg>
                              </span>
                          </div>
                          <div class="location-detail mb-3 mb-sm-0">
                              <h5 class="text-capitalize fw-medium">fancy fleet inc.</h5>
                              <a href="javascript:void(0)" class="text-decoration-none d-block fw-medium">
                                  30 Clingstone PL, The Woodlands TX 77382 USA,
                                  Phone: 510-441-9950
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-8 col-xl-9">
                      <div>
                          <div class="location-map">
                              <iframe
                                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3447.960142551701!2d-95.5494148238209!3d30.209685010721643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864730114eee1a51%3A0x739f3bb347bc3900!2s30%20Clingstone%20Pl%2C%20Spring%2C%20TX%2077382%2C%20USA!5e0!3m2!1sen!2sin!4v1712733200523!5m2!1sen!2sin"
                                  height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                  referrerpolicy="no-referrer-when-downgrade"></iframe>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- SERVING LOCATION START -->
          <div class="pt-3">
              <div class="py-3 px-3 px-sm-4 d-flex align-items-center justify-content-between">
                  <h3 class="mb-0 fs-5">Serving Locations</h3>
                  <button class="btn btn-secondary">Add Location</button>
              </div>
              <div class="serving-location-table">
                  <div class="table-responsive">
                      <table class="table mb-0">
                          <thead class="border-bottom border-top">
                              <tr>
                                  <th>Address</th>
                                  <th>Airport Code</th>
                                  <th>Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>
                                      <div class="address">
                                          <a href="javascript:void(0)" class="text-decoration-none d-block">30
                                              Clingstone PL, The Woodlands TX 77382
                                              USA,</a>
                                          <a href="tel:510-441-9950" class="text-decoration-none  d-block">Phone:
                                              510-441-9950</a>
                                      </div>
                                  </td>
                                  <td class="align-middle">
                                      <p class="mb-0">OGG</p>
                                  </td>
                                  <td class="align-middle">
                                      <button class="btn btn-outline-secondary">Show details</button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <!-- SERVING LOCATION END -->
      </div>
  </div>
</div>
