@import '../../../../styles/responsive';
.fleet-content-wrapper{
    max-height: calc(100vh - 170px);
    overflow: auto;
    @include xl{
        max-height: calc(100vh - 180px);
    }
    @include md{
        max-height: calc(100vh - 150px);
    }
    @include sm{
        max-height: calc(100vh - 140px);
    }
}
.page-numbers{
    p{
        font-size: 14px;
    }
}
tbody tr{
  cursor: pointer;
}
