<div class="">
    <div class="row align-items-center justify-content-between">
      <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
        <h3 class="fs-9 mb-0 text-nowrap py-2 py-xl-0">Customer List</h3>
      </div>
      <div class="col-8 col-sm-auto text-end ps-2">
        <div id="table-customers-replace-element">
          <button type="button" class="btn btn-primary" routerLink="/customer/add"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1" routerLink="/customer/add">Add Customer</span></button>
        </div>
      </div>
    </div>
  </div>
<div class="card mb-3 mt-4" id="customersTable" data-list='{"valueNames":["name","email","phone","address","joined"],"page":10,"pagination":true}'>
    
    <div class="card-body p-0">
      <div class="table-responsive scrollbar">
        <table class="table table-sm table-striped fs-10 mb-0 overflow-hidden">
          <thead class="bg-200">
            <tr>
              <th class="sort pe-1 align-middle white-space-nowrap" data-sort="name">Customer Info</th>
              <th class="sort pe-1 align-middle white-space-nowrap" data-sort="email">Address Info</th>
              <th class="sort pe-1 align-middle white-space-nowrap" data-sort="phone">License Info</th>
              <th class="sort pe-1 align-middle white-space-nowrap ps-5" data-sort="address">Payment Info</th>
              <th class="sort pe-1 align-middle white-space-nowrap" data-sort="joined">Reservation Info</th>
            </tr>
          </thead>
          <tbody class="list" id="table-customers-body">
            @for (cdata of customerData; track cdata; let  i = $index) {
            <tr class="btn-reveal-trigger" ngFor="let cdata of customerData">
              <td class="name align-middle white-space-nowrap py-2"><a>
                  <div class="d-flex d-flex align-items-center">
                    <div class="avatar avatar-xl me-2">
                      <div class="avatar-name rounded-circle"><span><img src="https://avatar.iran.liara.run/public" height="30" width="30"/></span></div>
                    </div>
                    <div class="flex-1">
                        <a  class="mb-1" routerLink="/customer/add" (click)="selectedCustomerData(cdata)">{{cdata.firstName}} {{cdata.lastName}}</a> <br/>
                        <h6 class="mb-1">{{cdata.phoneNumber}}</h6>
                        <a class="customer-email">{{cdata.email}}</a>
                    </div>
                  </div>
                </a></td>
              <td class="email align-middle py-2">
               <span class="mb-1"> {{cdata.streetAddress}}</span> <br/>  
               <span> {{cdata.city}}  {{cdata.endDate}} </span>
              </td>
              <td class="phone align-middle white-space-nowrap py-2">
                <span class="mb-1"> {{cdata.licenseNumber}} {{cdata.licenseState}}</span> <br/>
                <span class="mb-1"> {{cdata.startDate}}</span> <br/>
                <span> {{cdata.endDate}}</span>
              </td>
              <td class="payment-info align-middle white-space-nowrap ps-5 py-2">
                <div class="d-flex align-items-center">
                  @if(i %2 === 0) {
                    <img src="assets/visa-logo.png" height="40" width="40"/>
                  }
                  @else {
                    <img src="assets/mastercard-logo.png" height="40" width="40"/>
                  }
                 <div>
                  <span> {{cdata.cardNumber}}</span>  <br/>
                  Expiry <span> {{cdata.expiryDate}}</span>
                 </div>
                </div>
              </td>
              <td class="joined align-middle py-2">
                Current <span class="mb-1"> {{cdata.currentRecord}}</span> <br/>
                Past <span> {{cdata.pastRecord}}</span>
              </td>
            </tr>
        }
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer d-flex align-items-center justify-content-center">
      <button class="btn btn-sm me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
      <ul class="pagination mb-0"></ul>
      <button class="btn btn-sm ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
    </div>
  </div>