<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
  <div class="container" data-layout="container">
    
    <!-- <app-navbar-vertical></app-navbar-vertical> -->

    <div class="content">
        <div class="row">
          <div class="col-2">
            <nav
            app-navbar-vertical
              class="navbar navbar-light navbar-vertical navbar-expand-xl mr-3"
            ></nav>
          </div>
          <div class="col-10 pt-4">
            <router-outlet></router-outlet>
          </div>
        </div>
    </div>
  </div>
</main>