<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
  <div class="container" data-layout="container">
    
    <!-- <app-navbar-vertical></app-navbar-vertical> -->

    <div class="content">
      <nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <a class="navbar-brand me-1 me-sm-3" href="../index.html">
            <div class="d-flex align-items-center">
              <span class="fas fa-car-side text-primary"></span>
              <span class="fw-bold text-primary">Fancy Fleet</span>
            </div>
          </a>
        </nav>
        <div class="row">
          <div class="col-2">
            <nav
            app-navbar-vertical
              class="navbar navbar-light navbar-vertical navbar-expand-xl mr-3"
            ></nav>
          </div>
          <div class="col-9">
            <router-outlet></router-outlet>
          </div>
         
         
        </div>
    </div>
  </div>
</main>