@import '../styles/common.scss';

.nav-bar-icon {
    margin-right: 12px;
    cursor: pointer;
    font-size: 20px;
    width: 24px;
}

.navbar-brand {
    .company-name-logo {
        font-size: $navbar-brand-font-size;
        cursor: pointer;
    }
}

.fleet-sidenav {
    width: 235px;
    transition: 200ms all;
}

.fleet-content {
    width: calc(100% - 226px);
}
.fleet-sidenav.w-small {
    width: 45px;
}

.fleet-content.w-big {
    width: calc(100% - 45px);
}

 @media (max-width:991px) {
    .nav-bar-icon {
        position: relative;
        z-index: 10;
    }
    .company-name-logo {
        position: relative;
        z-index: 10;
    }
    .fleet-sidenav {
        max-width: 226px;
        width: 100%;
        position: fixed;
        padding-top: 60px;
        top: 0;
        left: 0;
        background: $sidenav-color;
        z-index: 9;
        padding: 60px 12px 0 12px;
        box-shadow: 20px 0rem 1rem rgba(0, 0, 0, 0.07);
        height: 100%;
    }

    .fleet-sidenav.w-small {
        width: 0;
        transform: translateX(-235px);
    }
    .fleet-content {
        width: 100%;
    }

    .fleet-content.w-big {
        width: 100%;
    }
    .collapse:not(.show) {
        display: block;
    }
 }