/* You can add global styles to this file, and also import other style files */
* {
    --bs-heading-color:#344050;
}
.nav {
    --bs-nav-link-color: #5e6e82;
   
}
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$primary:       $primary;
$secondary:     $secondary;
$light:         $gray-300;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);


@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    background-color: $gray-200;
}

label {
    display: inline-block;
    font-size: 13px;
    color: #919191;
}

// Table css

table {
    border-color: transparent !important;
    border-radius: 0.375rem;
}

.table tfoot > tr > th:first-child, .table thead > tr > th:first-child, .table tr th:first-child, .table tr td:first-child {
    padding-left: 1.25rem;
}

table tr th:after {
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgNyA5IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNi41MjU1NiAzLjVDNi45NDkzNyAzLjUgNy4xNjEyOCAzLjA2MjUgNi44NTUxOSAyLjc5MTY3TDMuODQxNCAwLjEyNUMzLjY1MzA0IC0wLjA0MTY2NjcgMy4zNDY5NiAtMC4wNDE2NjY3IDMuMTU4NTkgMC4xMjVMMC4xNDQ4MDkgMi43OTE2N0MtMC4xNjEyNzkgMy4wNjI1IDAuMDUwNjI3OSAzLjUgMC40NzQ0NDEgMy41SDYuNTI1NTZaIiBmaWxsPSIjQjZDMkQyIi8+CjxwYXRoIGQ9Ik0wLjQ3NDQ0MiA1LjVDMC4wNTA2MjgyIDUuNSAtMC4xNjEyNzkgNS45Mzc1IDAuMTQ0ODA5IDYuMjA4MzNMMy4xNTg1OSA4Ljg3NUMzLjM0Njk2IDkuMDQxNjcgMy42NTMwNCA5LjA0MTY3IDMuODQxNDEgOC44NzVMNi44NTUxOSA2LjIwODMzQzcuMTYxMjggNS45Mzc1IDYuOTQ5MzcgNS41IDYuNTI1NTYgNS41TDAuNDc0NDQyIDUuNVoiIGZpbGw9IiNCNkMyRDIiLz4KPC9zdmc+Cg==);
    margin-left: 0.25rem;
}

th {
    color: gray;
    font-size: 1.1rem;
}

td {
    color: gray;
    font-size: 1rem;
}


//avtar css
.avatar {
    position: relative;
    display: inline-block;
}

.avatar-xl {
    height: 2rem;
    width: 2rem;
}

.avatar .avatar-name {
    background-color: var(--bs-heading-color);
    position: absolute;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.avatar .avatar-name {
    width: 100%;
    height: 100%;
}

.avatar .avatar-name > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.avatar-xl .avatar-name {
    font-size: 0.6666666667rem;
}